<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="priv.xds.mapper.UserMapper">
    
    <select id="queryUser" resultType="User">
        SELECT * FROM t_user WHERE qq = #{qq} AND group_code = #{groupCode}
    </select>

    <update id="updateSignDays">
        UPDATE t_user
        SET consecutive_sign_days = #{signDays},
            last_sign = #{lastSign}
        WHERE qq = #{qq} AND group_code = #{groupCode}
    </update>

    <insert id="addUser" parameterType="User">
        insert into t_user(qq, last_sign, consecutive_sign_days, group_code)
        VALUES (#{qq}, #{lastSign}, #{consecutiveSignDays}, #{groupCode})
    </insert>

    <insert id="addUsers" parameterType="User">
        insert into t_user(qq, last_sign, consecutive_sign_days, group_code)
        VALUE
        <foreach collection="users" item="item" separator=",">
            (#{item.qq}, #{item.lastSign}, #{item.consecutiveSignDays}, #{item.groupCode})
        </foreach>
    </insert>

    <select id="getUnsignedUser" resultType="User">
        SELECT *
        FROM t_user
        WHERE last_sign != #{date} AND sign_ignore = FALSE
    </select>

    <select id="getUnsignedUserByGroup" resultType="User">
        SELECT *
        FROM t_user
        WHERE last_sign != #{date} AND group_code = #{groupCode} AND sign_ignore = FALSE
    </select>

    <select id="getAllUsers" resultType="User">
        SELECT *
        FROM t_user
        WHERE group_code = #{groupCode}
    </select>

    <update id="ignoreUser">
        UPDATE t_user SET sign_ignore = true
        WHERE sign_ignore = false AND qq = #{qq} AND group_code = #{groupCode}
    </update>

    <update id="reStatisticsUser">
        UPDATE t_user SET sign_ignore = false
        WHERE sign_ignore = true AND qq = #{qq} AND group_code = #{groupCode}
    </update>
    
</mapper>